footer {
    background-color: black;
    text-align: center;
    font-size: 2rem;
}

.footer-copy {
    color: #333;
    font-size: 0.7rem;
    padding: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media only screen and (min-width: 176px) and (max-width: 600px) {
    div.footer-sentence {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .footer-sentence-icon {
        display: none;
    }
    div.child:first-child {
        text-align: center;
        padding: 0.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
