nav {
  background-color: black; }

#navItems {
  background-color: #333; }

.item {
  overflow: auto;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  position: relative; }

.menu {
  padding-right: 3rem;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.item-text {
  vertical-align: middle;
  margin-top: 1.3rem;
  font-size: 1.2rem; }

.item-menu {
  display: inline-block;
  margin-right: 2rem;
  overflow: auto;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  position: relative;
  font-weight: bolder;
  font-family: "Arial";
  font-size: medium; }

.item-menu-active {
  display: inline-block;
  margin-right: 2rem;
  overflow: auto;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  height: 60px;
  position: relative;
  font-weight: bolder;
  font-family: "Arial";
  font-size: medium;
  border-bottom: dashed 1px;
  border-bottom-color: #3579e9; }

.item-menu-text {
  vertical-align: middle;
  margin-top: 1.3rem;
  font-size: 1.2rem; }

@media only screen and (min-width: 176px) and (max-width: 600px) {
  .item {
    display: inline-block;
    width: 50px; }
  article {
    right: 0;
    margin-top: 0px; }
  #navItems {
    top: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    text-align: end;
    z-index: 100; }
  #menuItems {
    display: none; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .item {
    display: inline-block;
    margin-right: 0; }
  #navItems {
    top: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    text-align: end;
    z-index: 100; }
  #menuItems {
    display: none; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .item {
    display: flex; }
  #navItems {
    width: 60px;
    float: left;
    position: fixed;
    min-height: 100%;
    height: 100%;
    z-index: 100; }
  #menuItems {
    display: none; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .item {
    display: flex; }
  #menuItems {
    display: none; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .item {
    display: flex; }
  #menuItems {
    display: inline;
    top: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    text-align: end;
    z-index: 100; }
  #navItems {
    display: none; } }
